html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 16px;
}

header {
    background-color: orange;
    padding: 1rem;
    margin-bottom: 1rem;
}

main {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}

#form {
    border: solid 1px #000;
    padding: 1rem;
}

input[type=text], input[type=button] {
    padding: 0.3rem;
    border: solid 1px grey;
    border-radius: 0.3rem;
    margin: 0.3rem;
}

#form input[type=text]{
    width: 100%;
}

#form input[type=button]{
    float: right;
    width: 6rem;
}

.todo {
    position: relative;
    border: solid 1px #000;
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 1rem;
}

.todo input[type=checkbox] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.todo-text, .create-at {
    margin-left: 2rem;
}

.create-at {
    text-align: right;
}

